@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* line 12, ../../../Documents/GitHub/github.io/sass/style.sass */
body {
  background-color: white;
  margin: 0;
}

/* line 17, ../../../Documents/GitHub/github.io/sass/style.sass */
#header {
  background-color: #448ccb;
  width: 100%;
  height: 130px;
  margin: 0;
}

/* line 23, ../../../Documents/GitHub/github.io/sass/style.sass */
#header a {
  text-align: center;
}

/* line 27, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper {
  float: left;
  margin-top: 1%;
  margin-left: 7.7%;
  margin-bottom: 2%;
  width: 92.3%;
}

/* line 34, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper a {
  padding-right: 0.75%;
  padding-left: 0.5%;
  text-decoration: none;
  font: 12px Open Sans;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-right: 1px solid white;
}

/* line 44, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper a:hover {
  text-decoration: underline;
}

/* line 47, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper #first {
  padding-left: 0;
}

/* line 50, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper #last {
  padding-right: 0;
  border-right: none;
}

/* line 55, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right {
  float: right;
}

/* line 58, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right a {
  float: left;
  padding: 10px;
  text-decoration: none;
  font: 15px Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/* line 68, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right a:hover {
  color: black;
}

/* line 71, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown {
  float: left;
}

/* line 74, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content {
  display: none;
}

/* line 77, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 85, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content ul, .dropdown-content li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 91, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content ul:before {
  content: "";
  position: absolute;
  right: 50px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent black transparent;
  z-index: 1;
}

/* line 103, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content a {
  width: 100px;
  color: white;
  font: 13px Opes Sans;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

/* line 111, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content a:hover {
  background-color: white;
}

/* line 115, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 50px;
  margin-left: -25px;
}

/* line 121, ../../../Documents/GitHub/github.io/sass/style.sass */
.logo {
  float: left;
  font: 27px Open Sans;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-left: 7.6%;
}

/* line 129, ../../../Documents/GitHub/github.io/sass/style.sass */
.logo:hover {
  color: black;
}

/* line 132, ../../../Documents/GitHub/github.io/sass/style.sass */
#bold {
  font-weight: 900;
}

/* line 135, ../../../Documents/GitHub/github.io/sass/style.sass */
#light {
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  /* line 142, ../../../Documents/GitHub/github.io/sass/style.sass */
  #header {
    height: fit-content;
  }
  /* line 145, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-upper {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  /* line 150, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-upper a {
    padding-right: 1.25%;
    font: 11px Open Sans;
  }
  /* line 154, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-lower a {
    float: none;
    display: block;
  }
  /* line 158, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-right {
    float: none;
    text-align: center;
  }
  /* line 162, ../../../Documents/GitHub/github.io/sass/style.sass */
  .logo {
    margin-right: 7%;
  }
  /* line 165, ../../../Documents/GitHub/github.io/sass/style.sass */
  .dropdown {
    float: none;
    margin: 0 auto;
  }
  /* line 169, ../../../Documents/GitHub/github.io/sass/style.sass */
  .dropdown:hover .dropdown-content {
    margin-left: 33%;
    margin-top: 0%;
  }
}

/*# sourceMappingURL=style.css.map */