@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* line 15, ../../../Documents/GitHub/github.io/sass/style.sass */
body {
  background-color: white;
  margin: 0;
}

/* line 20, ../../../Documents/GitHub/github.io/sass/style.sass */
#header {
  background-color: #448ccb;
  width: 100%;
  height: 150px;
  margin: 0;
}

/* line 28, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper {
  float: left;
  margin-top: 1%;
  margin-left: 7.7%;
  margin-bottom: 2%;
  width: 92.3%;
}

/* line 35, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper a {
  padding-right: 0.75%;
  padding-left: 0.5%;
  text-decoration: none;
  font: 12px Open Sans;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-right: 1px solid white;
}

/* line 45, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper a:hover {
  text-decoration: underline;
}

/* line 48, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper #first {
  padding-left: 0;
}

/* line 51, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-upper #last {
  padding-right: 0;
  border-right: none;
}

/* line 56, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right {
  float: right;
  margin-right: 2%;
}

/* line 60, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right a {
  float: left;
  padding: 15px;
  text-decoration: none;
  font: 15px Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/* line 70, ../../../Documents/GitHub/github.io/sass/style.sass */
.header-right a:hover {
  color: black;
}

/* line 73, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown {
  float: left;
}

/* line 76, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content {
  display: none;
}

/* line 79, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 87, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content ul, .dropdown-content li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 93, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content ul:before {
  content: "";
  position: absolute;
  right: 60px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent black transparent;
  z-index: 1;
}

/* line 105, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content a {
  padding-top: 16px;
  padding-left: 26px;
  width: 100px;
  text-align: left;
  color: white;
  font: 11px Open Sans;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

/* line 117, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown-content a:hover {
  background-color: white;
}

/* line 121, ../../../Documents/GitHub/github.io/sass/style.sass */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 50px;
  margin-left: -25px;
}

/* line 127, ../../../Documents/GitHub/github.io/sass/style.sass */
.logo {
  float: left;
  font: 27px Open Sans;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-left: 7.6%;
}

/* line 135, ../../../Documents/GitHub/github.io/sass/style.sass */
.logo:hover {
  color: black;
}

/* line 138, ../../../Documents/GitHub/github.io/sass/style.sass */
#bold {
  font-weight: 900;
}

/* line 141, ../../../Documents/GitHub/github.io/sass/style.sass */
#light {
  font-weight: 100;
}

/* line 144, ../../../Documents/GitHub/github.io/sass/style.sass */
#contentholder1 {
  margin-top: 0;
  width: 100%;
  height: 54vw;
  background-color: white;
}

/* line 150, ../../../Documents/GitHub/github.io/sass/style.sass */
.column {
  float: left;
  height: 46vw;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 159, ../../../Documents/GitHub/github.io/sass/style.sass */
.left {
  margin-left: 7.7%;
  width: 22%;
  background-color: #448ccb;
}

/* line 164, ../../../Documents/GitHub/github.io/sass/style.sass */
.left span {
  border-bottom: 0.7vw solid;
  padding-bottom: 1.5vw;
}

/* line 168, ../../../Documents/GitHub/github.io/sass/style.sass */
.title {
  font: 41px Open Sans;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 173, ../../../Documents/GitHub/github.io/sass/style.sass */
#ch1 {
  font-size: 3vw;
  color: white;
  text-align: center;
}

/* line 178, ../../../Documents/GitHub/github.io/sass/style.sass */
.content1 {
  display: block;
  width: 60%;
  font: 1.2vw Open Sans;
  color: white;
  text-align: left;
  margin-left: 15%;
  margin-top: 20%;
  position: relative;
}

/* line 188, ../../../Documents/GitHub/github.io/sass/style.sass */
.button1 {
  margin-left: 50%;
  margin-top: 40%;
  margin-bottom: 15%;
  padding: 0.5vw 0.7vw;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  font: 12px Open Sans;
  font-size: 1.3vw;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #448ccb;
  color: white;
  border: 0.2vw solid white;
}

/* line 208, ../../../Documents/GitHub/github.io/sass/style.sass */
.button1:hover {
  background-color: white;
  color: #448ccb;
}

/* line 212, ../../../Documents/GitHub/github.io/sass/style.sass */
.right {
  margin-left: 6.5%;
  width: 53%;
  background-color: #d7d7d7;
}

/* line 217, ../../../Documents/GitHub/github.io/sass/style.sass */
.right img {
  width: 100%;
}

/* line 220, ../../../Documents/GitHub/github.io/sass/style.sass */
#ch1_2 {
  font: 1.5vw Open Sans;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 6%;
}

/* line 228, ../../../Documents/GitHub/github.io/sass/style.sass */
.content1_2 {
  display: block;
  width: 70%;
  font: 1.2vw Open Sans;
  color: black;
  text-align: left;
  margin-left: 10%;
  position: relative;
}

/* line 237, ../../../Documents/GitHub/github.io/sass/style.sass */
.last {
  margin-bottom: 8.5%;
}

/* line 240, ../../../Documents/GitHub/github.io/sass/style.sass */
#contentholder1:after {
  content: "";
  display: table;
  clear: both;
}

/* line 245, ../../../Documents/GitHub/github.io/sass/style.sass */
#contentholder2 {
  margin-top: 0;
  width: 100%;
  height: 50vw;
  background-color: #448ccb;
}

/* line 251, ../../../Documents/GitHub/github.io/sass/style.sass */
.column2 {
  float: left;
  height: 36vw;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 260, ../../../Documents/GitHub/github.io/sass/style.sass */
#ch2_1 {
  font: 1.5vw Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

/* line 266, ../../../Documents/GitHub/github.io/sass/style.sass */
.content2 {
  font: 1.2vw Open Sans;
  color: white;
}

/* line 270, ../../../Documents/GitHub/github.io/sass/style.sass */
.right2 {
  margin-left: 5.5%;
  width: 62%;
}

/* line 274, ../../../Documents/GitHub/github.io/sass/style.sass */
#ch2_2 {
  margin-left: 4.25%;
  font: 1.5vw Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

/* line 281, ../../../Documents/GitHub/github.io/sass/style.sass */
.content2_2 {
  margin-left: 4.25%;
  font: 1.2vw Open Sans;
  color: white;
}

/* line 286, ../../../Documents/GitHub/github.io/sass/style.sass */
#list_section {
  width: 100%;
  margin-top: 5%;
  height: 27vw;
  background-color: white;
}

/* line 292, ../../../Documents/GitHub/github.io/sass/style.sass */
.column_list {
  float: left;
  height: 100%;
}

/* line 296, ../../../Documents/GitHub/github.io/sass/style.sass */
.left_list {
  width: 50%;
  background-color: white;
  overflow: auto;
}

/* line 301, ../../../Documents/GitHub/github.io/sass/style.sass */
#result {
  height: 100%;
}

/* line 305, ../../../Documents/GitHub/github.io/sass/style.sass */
#result ul {
  list-style-type: none;
  padding-left: 7%;
  padding-right: 4%;
  font: 1.45vw Open Sans;
  font-style: italic;
  text-align: justify;
}

/* line 313, ../../../Documents/GitHub/github.io/sass/style.sass */
#result ul li {
  border-bottom: 0.1vw solid black;
}

/* line 317, ../../../Documents/GitHub/github.io/sass/style.sass */
.list_heading {
  font: 12px Open Sans;
  color: black;
  font-weight: 700;
  font-size: 1.4vw;
  margin-left: 7%;
}

/* line 324, ../../../Documents/GitHub/github.io/sass/style.sass */
.list_text {
  font: 1.45vw Open Sans;
  margin-left: 7%;
  width: 90%;
}

/* line 329, ../../../Documents/GitHub/github.io/sass/style.sass */
.right_list {
  width: 50%;
  background-color: white;
}

/* line 334, ../../../Documents/GitHub/github.io/sass/style.sass */
#contentholder2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 339, ../../../Documents/GitHub/github.io/sass/style.sass */
#freespace {
  display: none;
}

@media screen and (max-width: 480px) {
  /* line 345, ../../../Documents/GitHub/github.io/sass/style.sass */
  #header {
    height: fit-content;
    height: -moz-max-content;
    display: table;
  }
  /* line 350, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-upper {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  /* line 355, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-upper a {
    padding-right: 1.25%;
    font: 11px Open Sans;
  }
  /* line 359, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-lower a {
    float: none;
    display: block;
  }
  /* line 363, ../../../Documents/GitHub/github.io/sass/style.sass */
  .header-right {
    float: none;
    text-align: center;
  }
  /* line 367, ../../../Documents/GitHub/github.io/sass/style.sass */
  .logo {
    margin-left: 0;
    text-align: center;
  }
  /* line 371, ../../../Documents/GitHub/github.io/sass/style.sass */
  .dropdown {
    float: none;
    margin: 0 auto;
  }
  /* line 375, ../../../Documents/GitHub/github.io/sass/style.sass */
  .dropdown:hover .dropdown-content {
    margin-left: 30%;
    margin-top: 0%;
  }
  /* line 379, ../../../Documents/GitHub/github.io/sass/style.sass */
  .left {
    margin: 0;
    margin-top: 7%;
    width: 100%;
    display: table;
  }
  /* line 385, ../../../Documents/GitHub/github.io/sass/style.sass */
  .right {
    margin: 0;
    margin-top: 20%;
    width: 100%;
    display: table;
  }
  /* line 391, ../../../Documents/GitHub/github.io/sass/style.sass */
  #ch1 {
    font-size: 5vw;
  }
  /* line 394, ../../../Documents/GitHub/github.io/sass/style.sass */
  .content1 {
    width: 90%;
    padding: 5%;
    text-align: justify;
    margin: 0;
    font-size: 3vw;
  }
  /* line 401, ../../../Documents/GitHub/github.io/sass/style.sass */
  .button1 {
    margin: auto;
    margin-bottom: 8%;
    font-size: 3.5vw;
    border: 1vw solid white;
    padding: 1.5vw 1.7vw;
  }
  /* line 408, ../../../Documents/GitHub/github.io/sass/style.sass */
  #ch1_2 {
    margin: 0;
    margin-top: 2%;
    font-size: 5vw;
    text-align: center;
  }
  /* line 414, ../../../Documents/GitHub/github.io/sass/style.sass */
  .content1_2 {
    width: 90%;
    padding: 5%;
    text-align: justify;
    margin: 0;
    font-size: 3vw;
  }
  /* line 421, ../../../Documents/GitHub/github.io/sass/style.sass */
  .last {
    padding-top: 0;
  }
  /* line 424, ../../../Documents/GitHub/github.io/sass/style.sass */
  #contentholder2 {
    margin-top: 50%;
  }
  /* line 427, ../../../Documents/GitHub/github.io/sass/style.sass */
  #ch2_1, #ch2_2 {
    margin: 0;
    margin-top: 2%;
    font-size: 5vw;
    text-align: center;
  }
  /* line 433, ../../../Documents/GitHub/github.io/sass/style.sass */
  .content2, .content2_2 {
    width: 90%;
    padding: 5%;
    text-align: justify;
    margin: 0;
    font-size: 3vw;
  }
  /* line 440, ../../../Documents/GitHub/github.io/sass/style.sass */
  .right2 {
    margin: 0;
    margin-top: 7.5%;
    width: 100%;
    display: table;
    background-color: #448ccb;
  }
  /* line 449, ../../../Documents/GitHub/github.io/sass/style.sass */
  #list_section p p {
    font-size: 4vw;
  }
  /* line 452, ../../../Documents/GitHub/github.io/sass/style.sass */
  #list_section p li {
    font-size: 3vw;
  }
  /* line 456, ../../../Documents/GitHub/github.io/sass/style.sass */
  .right_list .list_heading {
    font-size: 4vw;
  }
  /* line 459, ../../../Documents/GitHub/github.io/sass/style.sass */
  .right_list .list_text {
    font-size: 3vw;
  }
  /* line 462, ../../../Documents/GitHub/github.io/sass/style.sass */
  #mob {
    margin-top: -14%;
  }
  /* line 465, ../../../Documents/GitHub/github.io/sass/style.sass */
  #list_section {
    height: 30vw;
  }
  /* line 468, ../../../Documents/GitHub/github.io/sass/style.sass */
  .column_list {
    height: 107%;
  }
  /* line 472, ../../../Documents/GitHub/github.io/sass/style.sass */
  #freespace {
    display: block;
    width: 100%;
    height: 8vw;
    margin-top: 135vw;
    background: #448ccb;
  }
}

/*# sourceMappingURL=style.css.map */